
config SOC_SERIES_GEN_2
    bool "Company Gen 2 SoC"
    select ARM
    select SOC_FAMILY_COMPANY
    help
      Enable support for Company's Gen 2 SoC

if SOC_SERIES_GEN_2

#
# Additional settings per stepping
#

endif # SOC_SERIES_GEN_2
