if SOC_SERIES_GEN_1

config SOC_SERIES
    default "gen_1" # This name is used to construct the path here:
                    # https://github.com/zephyrproject-rtos/zephyr/blob/4004665fa77d223838d48b0758c90da86170b7eb/cmake/app/boilerplate.cmake#L546

config SOC
    default "gen1_thin" if SOC_IS_SOLDERED
    default "gen1_heavy" if SOC_IS_SOCKETED

# Additional defines here
config NUM_IRQS
    default 240

rsource "Kconfig.defconfig.gen1*"

endif # SOC_SERIES_GEN_1
